<div class="container">
  <div class="row">
    <div class="col-md-8 offset-md-2">
      <h1 class="text-center"><%= @gossip.title %></h1>
      <p class="text-center"><%= @gossip.created_at.strftime("%B %d, %Y") %></p>
      <table class="table table-bordered table-striped">
        <thead>
          <tr>
            <th>Auteur</th>
            <th>Contenu</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td><%= link_to @gossip.user.first_name, user_path(@gossip.user) %></td>
            <td><%= @gossip.content %></td>
          </tr>
        </tbody>
      </table>
      <div class="text-center">
        <%= link_to "Retour aux potins", gossips_path, class: "btn btn-primary" %>
      </div>
    </div>
  </div>
</div>